/* 🔹 Reset de estilos para coherencia en todos los navegadores */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong,
sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time,
mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #FFF;
    color: #333;
}

/* 🔹 Encabezado Adaptable */
header {
    background: #581845;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #FFF;
}

#logo img {
    width: 50px;
    margin-right: 10px;
}

/* 🔹 Navegación Mejorada */
nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 10px;
}

nav ul li a {
    background: #EEE;
    padding: 10px 15px;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    color: #444;
    border-radius: 10px;
    display: inline-block;
}

nav ul li a:hover {
    background: #FFF;
}

/* 🔹 Contenido Principal y Aside en Flexbox */
#pageContent {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

main {
    flex: 2;
    min-width: 300px;
}

aside {
    flex: 1;
    min-width: 250px;
}

/* 🔹 Estilos para Artículos */
article {
    border-bottom: 2px dotted #999;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

article h2 {
    font-weight: normal;
    margin-bottom: 12px;
}

/* 🔹 Sección y Footer Responsivos */
body > section {
    max-width: 1000px;
    margin: auto;
    padding: 30px 0px;
    border-bottom: 1px solid #999;
    color: #333;
}

footer {
    background: #581845;
    width: 100%;
    text-align: center;
    color: #FFF;
    padding: 20px;
    margin-top: 20px;
}

/* 🔹 Imágenes Responsivas */
img, video {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

/* 🔹 Recuadro con Sombra */
.shadow-box {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
}

/* 🔹 Media Queries para Responsividad */
@media screen and (max-width: 1000px) {
    body > section {
        padding: 30px 20px;
    }
}

@media screen and (max-width: 768px) {
    #pageContent {
        flex-direction: column;
    }

    main, aside {
        width: 100%;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    nav ul {
        padding: 10px;
    }
}

@media screen and (max-width: 480px) {
    header {
        padding: 15px;
    }

    nav ul li a {
        font-size: 16px;
        padding: 8px 12px;
    }

    footer {
        padding: 15px;
    }
}
pre {
    max-width: 100%;  /* Ajusta el ancho al 100% del contenedor */
    overflow-x: auto; /* Agrega desplazamiento horizontal si es necesario */
    background: #f4f4f4; /* Color de fondo suave */
    padding: 10px;
    border-radius: 5px;
    white-space: pre-wrap; /* Permite saltos de línea en palabras largas */
    word-wrap: break-word;
}
